<script>nowPlayingTimeout;
var nowPlaying;

function loadNowPlaying() {
    $.ajax({
        cache: false,
        dataType: "json",
        url: 'http://onepulse.proxy.hdev.pw/api/nowplaying/2',
        success: function(np) {
            // Do something with the Now Playing data.
            nowPlaying = np;

            nowPlayingTimeout = setTimeout(loadNowPlaying, 15000);
        }
    }).fail(function() {
        nowPlayingTimeout = setTimeout(loadNowPlaying, 30000);
    });}

$(function() {
    loadNowPlaying();
}); </script>



<p class="nowPlaying nonono" aria-label="nowPlaying" data-microtip-position="top" role="tooltip">nowPlaying</p>


<meta name="description" content="hello">
<meta property="og:site_name" content="hellow">
<meta property="og:title" content="hello" />
<meta property="og:locale" content="en_US" />
<meta property="og:description" content="hello" />
<meta property="og:type" content="product" />

<script>
[
  {
    "station": {
      "id": 2,
      "name": "AzuraTest Radio",
      "shortcode": "azuratest_radio",
      "description": "An AzuraCast station!",
      "frontend": "shoutcast2",
      "backend": "liquidsoap",
      "listen_url": "http://localhost:8000/radio.mp3",
      "is_public": true,
      "mounts": [
        {
          "id": 2,
          "name": "/radio.mp3",
          "url": "http://localhost:8000/radio.mp3",
          "bitrate": 128,
          "format": "mp3",
          "listeners": {
            "current": 15,
            "unique": 15,
            "total": 20
          },
          "path": "/radio.mp3",
          "is_default": true
        }
      ],
      "remotes": [
        {
          "id": 2,
          "name": "/radio.mp3",
          "url": "http://localhost:8000/radio.mp3",
          "bitrate": 128,
          "format": "mp3",
          "listeners": {
            "current": 15,
            "unique": 15,
            "total": 20
          }
        }
      ]
    },
    "listeners": {
      "current": 15,
      "unique": 15,
      "total": 20
    },
    "live": {
      "is_live": false,
      "streamer_name": "DJ Jazzy Jeff",
      "broadcast_start": "1591548318"
    },
    "song_history": [
      {
        "sh_id": 0,
        "played_at": 1607080612,
        "duration": 180,
        "playlist": "Top 100",
        "streamer": "Test DJ",
        "is_request": true,
        "song": {
          "id": "9f33bbc912c19603e51be8e0987d076b",
          "text": "Chet Porter - Aluko River",
          "artist": "Chet Porter",
          "title": "Aluko River",
          "album": "Moving Castle",
          "genre": "Rock",
          "lyrics": "",
          "art": "https://picsum.photos/1200/1200",
          "custom_fields": [
            "custom_field_value"
          ]
        }
      }
    ],
    "cache": "hit"
  }
]
</script>
